@import url(https://fonts.googleapis.com/css?family=Eczar);
@import url("font-awesome.min.css");

.header {
    grid-area: hd;
    text-align: center;
    background-color: #990303;
    color: white;
    font-family: 'Eczar', serif;
    border-style: ridge;
    border-color: black;
    border-width: 3px;
}

.josh {
    max-height: 300px;
    position: left;

}

.nav {
    /* grid-area: nav; */
    color: white;
    background-color: #9c9999;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
    cursor: default;
    
}

#nav ul {
    margin-bottom: 0;
}

#nav li {
    display: inline-block;
}

#nav a {
    color: white;
}

#nav a:hover {
    color: #990303 !important;
}

#nav a.active:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -0.6em;
    left: 50%;
    margin-left: -0.75em;
    border-left: solid 0.75em transparent;
    border-right: solid 0.75em transparent;
    border-top: solid 0.6em #282828;
}

.footer {
    grid-area: ft;
}

.content {
    grid-area: main;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
    "nav nav nav nav nav nav nav nav nav"
    "hd hd hd hd   hd   hd   hd   hd   hd"
    "main main main main main main main main main"
    "ft ft ft  ft  ft   ft   ft   ft   ft";
};
